安徽省胸科医院/接口/NET_WS_V5/BLL/Web References/DocareInterfaceTest/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DoCareInterFaceInput">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="methodName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xmlParameters" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoCareInterFaceInputResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DoCareInterFaceInputResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DoCareInterFaceInputSoapIn">
    <wsdl:part name="parameters" element="tns:DoCareInterFaceInput" />
  </wsdl:message>
  <wsdl:message name="DoCareInterFaceInputSoapOut">
    <wsdl:part name="parameters" element="tns:DoCareInterFaceInputResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="DoCareInterFaceInput">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">simulation third-party</wsdl:documentation>
      <wsdl:input message="tns:DoCareInterFaceInputSoapIn" />
      <wsdl:output message="tns:DoCareInterFaceInputSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoCareInterFaceInput">
      <soap:operation soapAction="http://tempuri.org/DoCareInterFaceInput" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoCareInterFaceInput">
      <soap12:operation soapAction="http://tempuri.org/DoCareInterFaceInput" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://192.168.1.230/WebServiceTest/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://192.168.1.230/WebServiceTest/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>